[user]
  name = Igor Mucsicska
  email = mucsi_96@yahoo.com
[color]
  ui = auto
[alias]
  st = status
  gl = !git --no-pager log --oneline --decorate --color --graph --all
  glh = !git --no-pager log --oneline --decorate --color --graph --all -52
[push]
  default = simple
[core]
  editor = \"C:\\Program Files\\Sublime Text 3\\sublime_text.exe\"
  autocrlf = false
