[user]
  name = Igor Bari
  email = mucsi96@gmail.com
[color]
  ui = auto
[alias]
  st = status
  gl = !git --no-pager log --oneline --decorate --color --graph --all
  glh = !git --no-pager log --oneline --decorate --color --graph --all -52
[push]
  default = simple
[core]
  autocrlf = input
